

<div class="container pena-index" id="lista-de-penas" style="color: white;">

  <h1>Lista de peñas</h1>

  <hr>
  {{#each newPenas}}
  <img src={{img}} alt="logo pena" class="imagen_logo">
  <h4>{{name}}</h4>
  <p>País: {{country}}</p>
  <p>Ciudad: {{city}}</p>
  <p>Sede: {{site}}</p>
  <div id="orden-botton">
<a href="/pena/{{_id}}" class="btn btn-sm btn-dark" style="background-color: white; border-color: white; color: black; margin-right: 30px">Ver detalles</a>
   {{#if ../isADMIN}}
   <a href="/pena/edit/{{_id}}" class="btn btn-sm btn-dark" style="background-color: white; border-color: white; color: black; margin-right: 30px">Editar</a>
   <br><br>
   <form action="/pena/delete?id={{id}}" method="POST">
      <button type="submit" class="btn btn-dark" style="background-color: white; border-color: white; color: black;">Eliminar Peña</button>
    </form>

   {{else}}

      {{#if isOwner}}
      <a href="/pena/edit/{{_id}}" class="btn btn-sm btn-dark" style="background-color: white; border-color: white; color: black; margin-right: 30px">Editar</a>
      <br><br>
      <form action="/pena/delete?id={{id}}" method="POST">
         <button type="submit" class="btn btn-dark" style="background-color: white; border-color: white; color: black;">Eliminar Peña</button>
      </form>
      {{/if}}
      
   {{/if}}
   
  <hr>
  </div>
  <br>
   {{/each }}
   <br>
<a href="/" class="btn btn-dark" style="background-color: white; border-color: white; color: black;">Volver</a>
</div>
