
<div class="container pena-index" id="lista-de-penas">

  <h1>Índice de peñas</h1>

  <hr>
  {{#each allPenas}}
  <img src={{img}} alt="logo pena" class="imagen_logo">
  <h4>{{name}}</h4>
  <p>{{country}}</p>
  <p>{{city}}</p>
  <p>{{site}}</p>
  <a href="/pena/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
  {{/each }}

</div>
